# Node.js dependencies
node_modules/
package-lock.json

# Angular build
dist/
tmp/
out-tsc/

# IDE e editor de código
.vscode/
.idea/

# Logs e relatórios
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Configurações do ambiente
.env
.env.local
